<body>
  <section>
    <span class="sliding">
      <span>Pedro</span>
      <span>Cunha</span>
      <span>Lima</span>
      <span>Silva</span>
      <span> - </span>
      <span>Pedro</span>
      <span>Cunha</span>
      <span>Lima</span>
      <span>Silva</span>
    </span>
    <div class="wrapper">
      <span class="sliding">
        <span>Pedro</span>
        <span>Cunha</span>
        <span>Lima</span>
        <span>Silva</span>
        <span> - </span>
        <span>Pedro</span>
        <span>Cunha</span>
        <span>Lima</span>
        <span>Silva</span>
      </span>
    </div>
  </section>
</body>
