<div class="body">
  <ul>
    <li>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span class="fa fa-linkedin" aria-hidden="true" (click)="linkedin()"></span>
    </li>

    <li>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span class="fa fa-github" aria-hidden="true" (click)="gitHub()"></span>
    </li>

    <li>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span class="fa fa-instagram" aria-hidden="true" (click)="instagram()"></span>
    </li>

    <li>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span class="fa fa-facebook" aria-hidden="true" (click)="facebook()"></span>
    </li>

    <li>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span class="fa fa-twitter" aria-hidden="true" (click)="twitter()"></span>
    </li>

    <li>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span class="fa fa-google-plus" aria-hidden="true" (click)="googlePlus()"></span>
    </li>


  </ul>
</div>
